.eventsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 28%;
    padding: 10px;
    margin: 8px;
}

.event-card:first-of-type {
    font-weight: bolder;
    background-color: palegoldenrod;
}

.event-title-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.event-card-btns {
    justify-self: flex-start;
    display: flex;
    width: 90%;
    justify-content: space-between;
}